<div class="section-title">Featured Project</div>

<div class="glass">
  <div class="featured-title">Star Wars Franchise</div>
  <img src="images\vader.jpgdath vader" alt="">

  <div class="featured-meta">
    The Star Wars franchise is one of the most iconic and beloved series in the
    history of popular culture. It encompasses a vast universe filled with
    memorable characters, epic battles, and intricate lore. For those unfamiliar
    with the franchise, Star Wars began as a groundbreaking film created by
    George Lucas in 1977, titled "Star Wars: Episode IV - A New Hope". Since
    then, it has expanded into a multimedia phenomenon, including movies, TV
    shows, books, comics, video games, and more. The Star Wars franchise dataset
    provides a comprehensive collection of data related to various aspects of
    this expansive universe. It includes information about characters, planets,
    starships, vehicles, species, and much more. This dataset offers valuable
    insights into the rich tapestry of the Star Wars universe, allowing fans and
    researchers alike to explore and analyze different elements of the
    franchise.
  </div>
</div>


