<div id="home">
  <div class="hero">
    <h1>
      HI, I’M TREVOR MUGABI<br />
      DATA SYSTEMS, ML MODELS, ANALYTICS<br />
      TURNING DATA INTO ACTIONABLE INSIGHT<br />
    </h1>
    <p>
      Data Scientist, Analyst, and Backend Developer. Whether it's architecting
      databases, building machine learning models, or teaching data strategy, I
      build the end-to-end logic that turns raw information into impact.
    </p>

    <div class="cta">
      <a href="#work" class="cta-btn"> Explore Work </a>
    </div>
  </div>
</div>
